# Build folders
**/bin/
**/obj/

# User secrets
appsettings.json
appsettings.Developmnet.json

# Published output
*.dll
*.pdb

# Visual Studio
*.user
*.suo
*.vs/

# Logs
*.log

# System
.DS_Store
Thumbs.db
